@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.present {
  width: 100%;
  height: 100vh;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.present__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.span1, .span2 {
  text-transform: uppercase;
}

.span1 {
  color: white;
  font-size: 60px;
  letter-spacing: 8px;
  margin-bottom: 30px;
  background: #000;
  position: relative;
  -webkit-animation: text 3s 1;
          animation: text 3s 1;
}

.span2 {
  color: #10B582;
  font-size: 40px;
}

@-webkit-keyframes text {
  0% {
    color: #000;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 30px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

@keyframes text {
  0% {
    color: #000;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 30px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

._conteiner {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 30px;
}

._item {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: calc(10px + 0.5vw);
  line-height: 100%;
  /* identical to box height, or 16px */
  /* dark */
  color: #353A5A;
}

._item:not(:last-child) {
  margin-bottom: 30px;
}

._item:first-child {
  margin-bottom: 60px;
}

.orange__btn {
  color: white;
  font-size: 16px;
  border: none;
  width: 230px;
  height: 56px;
  background: #FA9F42;
  border-radius: 0px 20px;
  -webkit-transition: 0.55s;
  transition: 0.55s;
}

.orange__btn:hover {
  position: relative;
  top: -10px;
}

.green__btn {
  color: white;
  font-size: 16px;
  border: none;
  width: 230px;
  height: 56px;
  background: #10B582;
  border-radius: 0px 20px;
}

.green__btn:hover {
  position: relative;
  top: -10px;
}

._column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  width: 100%;
}

.wrapper {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  width: 100%;
  background-color: #10B582;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__conteiner {
  padding: 30px 0px 60px 0px;
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 660px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__nav {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: calc(11px + 0.5vw);
  line-height: 100%;
  color: #FDFDFD;
  margin: 10px;
}

.main1 {
  width: 100%;
  background-color: #10B582;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main1__conteiner {
  margin-top: 20px;
  padding-bottom: 100px;
}

.main1__conteiner .person1 {
  width: 100%;
  border-radius: 0px 80px 0px 0px;
  position: relative;
  top: 70px;
}

.main1__conteiner .person2 {
  width: 100%;
  border-radius: 80px 0px 0px 0px;
  position: relative;
  top: -70px;
}

.main1__conteiner .main1__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 30px;
}

.main1__conteiner .main1__center .main1__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: white;
  font-size: 25px;
}

.main1__conteiner .main1__center .main1__logo .logo {
  margin-right: 12px;
}

.main1__conteiner .main1__center .main1__inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main1__conteiner .main1__center .main1__inf .main1__h1 {
  max-width: 550px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: calc(25px + 0.7vw);
  line-height: 120%;
  text-align: center;
  color: #FDFDFD;
  margin-top: 30px;
  margin-bottom: 20px;
}

.main1__conteiner .main1__center .main1__inf .main1__p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + 0.6vw);
  line-height: 150%;
  text-align: center;
  color: #FDFDFD;
  margin-bottom: 30px;
}

.main2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0px 60px 0px;
}

.main2__conteiner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.about__inform {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__inform:not(:first-child) {
  margin-left: 40px;
}

.about__p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: calc( 40px + 0.7vw);
  line-height: 100%;
  /* identical to box height, or 58px */
  margin-bottom: 10px;
  text-align: center;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #10B582;
}

.what__do {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: calc(8px + 0.5vw);
  line-height: 120%;
  text-align: center;
  color: #353A5A;
}

.staff {
  padding: 120px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stuff__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.stuff__h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: calc(30px + 0.7vw);
  line-height: 100%;
  /* identical to box height, or 58px */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* dark */
  color: #353A5A;
  margin-bottom: 15px;
}

.stuff__p {
  max-width: 500px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + 0.7vw);
  line-height: 150%;
  /* or 24px */
  /* dark */
  margin-bottom: 40px;
  color: #353A5A;
}

.stuff__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-left: 50px;
  gap: 25px;
}

.stuff__right .pers__inf {
  max-width: 170px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: calc(10px + 0.5vw);
  line-height: 130%;
  /* or 18px */
  margin-top: 5px;
  text-align: center;
  color: #353A5A;
}

.main3 {
  width: 100%;
  background-color: #10B582;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0px;
}

.main3__left {
  margin-right: 60px;
}

.main3__person {
  border-radius: 0px 120px 0px 0px;
}

.main3__h1 {
  max-width: 450px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: calc(25px + 0.7vw);
  line-height: 120%;
  margin-bottom: 20px;
  color: #FDFDFD;
}

.main3__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main3__p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: calc(11px + 0.5vw);
  line-height: 150%;
  margin-bottom: 10px;
  color: #FDFDFD;
}

.main4 {
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main4__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main4__h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: calc(30px + 0.7vw);
  line-height: 100%;
  /* identical to box height, or 58px */
  margin-bottom: 60px;
  text-align: center;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* dark */
  color: #353A5A;
}

.courses {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.cours {
  padding: 20px;
  background: #FDFDFD;
  -webkit-box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
          box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
}

.cours__img {
  width: 100%;
}

.cours__h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: calc(10px + 0.5vw);
  line-height: 100%;
  /* identical to box height, or 16px */
  margin-top: 15px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* dark */
  color: #353A5A;
}

.main5 {
  width: 100%;
  padding: 120px 0px;
  background: url(img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main5__conteiner {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 30px;
}

.main5__h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: calc(30px + 0.7vw);
  line-height: 120%;
  /* or 70px */
  margin-bottom: 20px;
  max-width: 380px;
  /* dark */
  color: #353A5A;
}

.main5__p {
  max-width: 380px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: calc(9px + 0.6vw);
  line-height: 150%;
  /* or 24px */
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  /* dark */
  margin-bottom: 50px;
  color: #353A5A;
}

.footer {
  padding-top: 200px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__conteiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.footer__conteiner .column1__p {
  margin-top: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  max-width: 270px;
  /* dark */
  margin-right: 20px;
  color: #353A5A;
}

@media (max-width: 876px) {
  ._item:not(:last-child) {
    margin-bottom: 20px;
  }
  ._item:first-child {
    margin-bottom: 30px;
  }
}

@media (max-width: 580px) {
  .header__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 678px) {
  .person1 {
    display: none;
  }
  .person2 {
    display: none;
  }
  .main1__conteiner {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .main2 {
    padding: 70px 0;
  }
}

@media (max-width: 678px) {
  .about__us {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .about__inform {
    margin: 0px 0px 30px 0px;
  }
  .about__inform:not(:first-child) {
    margin-left: 0px;
  }
}

@media (max-width: 986px) {
  .staff {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stuff__left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
  .stuff__right {
    margin: 0;
  }
  .stuff__p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .main2 {
    padding: 70px 0px 20px 0px;
  }
  .staff {
    padding: 50px 0;
  }
  .pers1, .pers2, .pers3, .pers4, .pers5, .pers6 {
    width: 120px;
  }
  .pers__inf {
    width: 120px;
  }
}

@media (max-width: 500px) {
  .staff {
    padding: 20px 0;
  }
  .stuff__h1 {
    text-align: center;
  }
  .stuff__right {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .pers__inf {
    max-width: 120px;
  }
  .main2 {
    padding: 70px 0px 0px 0px;
  }
}

@media (max-width: 876px) {
  .main3__person {
    width: 200px;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .main3__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main3__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main3__p {
    text-align: center;
    margin-bottom: 30px;
  }
  .main3__h1 {
    margin-top: 20px;
    text-align: center;
  }
  .main3__person {
    width: 100%;
    border-radius: 120px;
  }
  .main3 {
    padding: 60px 0;
  }
  .main3__left {
    margin-right: 0px;
  }
}

@media (max-width: 876px) {
  .main4 {
    padding: 60px 0px;
  }
  .courses {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .cours {
    margin-bottom: 0px;
  }
}

@media (max-width: 500px) {
  .main4__h1 {
    margin-bottom: 30px;
  }
  .main4 {
    padding: 30px 0px;
  }
  .courses {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .cours {
    margin-bottom: 0px;
  }
}

@media (max-width: 575px) {
  .main5__conteiner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main5__h1 {
    text-align: center;
  }
  .main5__p {
    text-align: center;
  }
}

@media (max-width: 876px) {
  .footer {
    padding: 20px 0px 50px 0px;
  }
  ._column {
    text-align: center;
  }
  .footer__conteiner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .column1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .column1 .column1__p {
    margin-right: 0;
  }
}
/*# sourceMappingURL=main.css.map */